<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>your-firebase-app-id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.your-firebase-app-id</string>
	<key>API_KEY</key>
	<string>AIzaSyB1WKfp6zrdNg7dYg1d_ph7jKF1Kr-nq14</string>
	<key>GCM_SENDER_ID</key>
	<string>316194284018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facebook.npe.hax-app</string>
	<key>PROJECT_ID</key>
	<string>your-firebase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>your-firebase-bucket</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316194284018:ios:d5e8cc57c0e7fa7cff0b6b</string>
</dict>
</plist>
